*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;

    height: 10vh;

    & button{
         padding: 8px;

         &:hover{
            cursor: pointer;
         }
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img{
        max-width: 300px;
        max-height: 250px;
    }
}

.butts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    & button{
        padding: 10px;
        border: 1px solid black;
        border-radius: 15px;
        font-size: 20px;
        &:hover{
            cursor: pointer;
            background-color: gray;

        }
         
    }
}
